<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page" padding>
    <button ion-button clear small color="danger" icon-left (click)="shareonemail($event)">
          <ion-icon name='share-alt'></ion-icon>
          Share
</button>
   <ion-fab top right edge>
       <button ion-fab mini (click)="placehousecall()">
           <ion-icon name="add"></ion-icon>
       </button>
   </ion-fab>
   <ion-card>
       <img src="img/hnlhousecallIMAGES2.jpg">
       <ion-card-content>
           <p>Now you can have blood work done in the comfort of your own home. click on '+' button to schedule an appointment now.</p>
       </ion-card-content>
       <!--        <button ion-button color="secondary" round (click)="placehousecall()">Book House Call Now</button>-->
   </ion-card>
   <ion-list>
       <ion-list-header>
           <h1>My House Call</h1>
       </ion-list-header>
      <ion-item-sliding *ngFor="let item of myhousecalls">
          <ion-item>
<!--
  <ion-card>
  <ion-item>
  <h2 *ngFor="let test of item.Test">{{test.title}}</h2>
  </ion-item>
  <ion-item>
    <span item-left>{{item.AppointmentDate | date:'yyyy MMM dd hh:mm'}}</span>
    <button ion-button icon-left clear item-right>
      <ion-icon name="call"></ion-icon>
      Call
    </button>
  </ion-item>
</ion-card>
-->   <ion-card class="project project-radius project-primary">
				<div class="shape">
				</div>
				<div class="project-content">
                <span item-left>
                    <h1>
                    <ion-icon name="calendar"></ion-icon>
                {{item.AppointmentDate | date:'dd MMM yyyy'}} 
                               <small> {{item.Time | date:'h:mm a'}}</small>

                </h1>

                </span>
                 <div class = "col"></div>

                   <ion-item>  
					<h3 class="lead" *ngFor="let test of item.Test">
						{{test.title}}
					</h3>
                    </ion-item>
                   <ion-item>    
    <button ion-button icon-left clear item-right>
      <ion-icon name="call"></ion-icon>
      Call
    </button>
  </ion-item>      
                </div>
</ion-card>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="danger">
                  <ion-icon name="trash"> </ion-icon>
              </button>
          </ion-item-options>
      </ion-item-sliding>
   </ion-list>
   


   <ion-card>


   </ion-card>
 
 
         <div class="col-md-6">

 <div padding>
  <ion-segment  color="secondary" [(ngModel)]="graphtype">
    <ion-segment-button value="Weekly">
     Weekly
    </ion-segment-button>
    <ion-segment-button value="Monthly" >
      Monthly
    </ion-segment-button>
      <ion-segment-button value="All" >
      All
    </ion-segment-button>
  </ion-segment>
</div>
    <canvas baseChart [hidden]="!(graphtype == 'Weekly')"
                [datasets]= "lineChartData"
                [labels]="lineChartLabels"
                [chartType]="lineChartType" 
                ></canvas>

    <canvas baseChart [hidden]="!(graphtype == 'Monthly')"
                [datasets]= "MonthlyChartData"
                [labels]="MonthlyLabels"
                [chartType]="MonthlyChartType"
                ></canvas>
<div  [hidden]="!(graphtype == 'All')">    
           <canvas baseChart
                [datasets]= "AllChartData"
                [labels]="AllLabels"
                [chartType]="AlllChartType" 
                ></canvas>

</div>
           
    </div>
    <ion-grid class="button-group">
  <ion-row>
    <ion-col width-65>
    </ion-col>    
    <ion-col width-12>
      <button ion-button block outline><img src="assets/img/Line-Chart-icon.png" (click)="setgraph('line')" />
</button>
    </ion-col >
    <ion-col  width-12>
      <button ion-button block color="secondary" outline  (click)="setgraph('bar')"><img src="assets/img/bar-chart-icon-63290.png"/></button>
    </ion-col>  
    <ion-col  width-12>
      <button ion-button block  color="danger" outline  (click)="setgraph('doughnut')"><img src="assets/img/pie-chart-4.png"/></button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>